@media (min-width: 1024px) {
  header {
    .header__nav {
      .header__nav--nickname {
        p {
          font-size: 2rem;
        }
      }
      .burguer_icon {
        display: none;
      }
      .header__nav--menu {
        flex-direction: row;
        justify-content: space-evenly;
        top: 0;
        left: 65%;
        max-width: 280px;
        height: 100%;
        padding: 0;
        background: none;
        .close--container {
          display: none;
        }
        ul {
          display: flex;
          width: 100%;
          height: 30px;
          li {
            width: 80px;
            height: 100%;
            padding: 0;
            border: none;
            &:hover {
              border-bottom: 1px solid $soft-blue;
            }
            a {
              width: 100%;
              height: 100%;
              padding: 0;
              font-size: 1.6rem;
              line-height: 31px;
            }
          }
        }
      }
    }
    .header__intro {
      flex-direction: row;
      flex-wrap: nowrap;
      padding-top: 0;
      justify-content: center;
      .header__intro--text {
        width: 400px;
        max-width: 600px;
        margin: 0;
        padding: 0;
        h2 {
          font-size: 3rem;
        }
        p {
          font-size: 3rem;
        }
      }
      figure {
        margin: 0;
        width: 230px;
        height: 230px;
        img {
          box-shadow: 0 0 8px 8px $dark-blue;
          border: 1px solid #fff;
        }
      }
    }
  }
  main {
    background-color: #fff;
    .main--content {
      position: relative;
      display: flex;
      // flex-wrap: wrap;
      align-items: center;
      max-width: 1000px;
      margin: 0 auto;
      .whois {
        width: 60%;
        height: 100%;
      }
      .skills-container {
        width: 40%;
        padding: 10px;
        display: flex;
      }
      .skills {
        position: relative;
        // display: flex;
        // display: inline-block;
        // flex-wrap: nowrap;
        flex-direction: row;
        justify-content: space-evenly;
        width: 50%;
        .skills__item {
          width: 70px;
          height: 70px;
          float: left;
          i {
            font-size: 4rem;
          }
          p {
            font-size: 1.2rem;
          }
        }
      }
    }
  }
  .projects {
    display: flex;
    flex-wrap: wrap;
    // flex-direction: row;
    padding: 25px 100px;
    background-color: $white;
    .project__title {
      min-width: 100%;
    }
    .project {
      position: relative;
      width: 210px;
      height: 210px;
      border: 1px solid $white;
      background-size: cover;
      cursor: pointer;
      .info {
        // position: absolute;
        // bottom: -100%;
        h2 {
          font-size: 1.8rem;
        }
        a {
          font-size: 1.6rem;
        }
      }
    }
  }
  footer {
    .footer-text {
      // display: inline-block;
      width: 350px;
      margin: 0 auto;
    }
    .social-networks {
      // display: inline-block;
      width: 320px;
      // margin: 0;

      .fab {
        padding: 5px;
        border-radius: 5px;
      }
      .fa-linkedin-in:hover {
        background-color: #0077b5;
      }
      .fa-github:hover {
        background-color: #333;
      }
      .fa-twitter:hover {
        background-color: #1da1f2;
      }
      .fa-instagram:hover {
        background-color: #405de6;
      }
    }
  }
}
