@mixin lexend {
  font-family: 'Lexend Deca', sans-serif;
}

@mixin roboto {
  font-family: 'Roboto', sans-serif;
}

@mixin centrado {
  display: flex;
  justify-content: center;
  align-items: center;
}
@mixin titles {
  @include lexend;
  font-size: 2.9rem;
  font-weight: 400;
  color: $soft-blue;
}