@use "../abstracts/variables";

.section {
    padding: 48px 0 0;

    &.projects {
        .title {
            padding-right: 0;
            text-align: center;

            &+p {
                text-align: center;
            }
        }
    }

    .projects__cards {
        display: grid;
        gap: 32px;
        padding-top: 32px;

        @media screen and (min-width: 768px) {
            grid-template-columns: 1fr 1fr;
        }

        @media screen and (min-width: 1024px) {
            grid-template-columns: 1fr 1fr 1fr;
        }


        .card {
            border-radius: 12px;
            border: 1px solid variables.$quaternary-color;
            background: variables.$tertiary-color;
            width: 100%;
            overflow: hidden;
            position: relative;

            .card__techs {
                display: flex;
                align-items: center;
                gap: 10px;
                padding: 12px 12px 0 0;
                position: absolute;
                top: 0;
                right: 0;
                z-index: 2;

                .tech {
                    background-color: rgba(variables.$tertiary-color, 0.9);
                    border: 1px solid variables.$quaternary-color;
                    padding: 4px 8px;
                    border-radius: 4px;
                    font-size: 12px;
                }
            }

            .card__img {
                height: 200px;
                object-fit: cover;
                width: 100%;
            }

            .card__content {
                padding: 20px;

                p {
                    font-size: 14px;
                }
            }

            .card__title {
                position: relative;

                &::after {
                    content: url('../IMG/svg/open-project.svg');
                    width: 18px;
                    height: 18px;
                    position: absolute;
                    top: 50%;
                    right: 0;
                    transform: translateY(-50%);
                }
            }

            .card__buttons {
                display: flex;
                align-items: center;
                gap: 12px;
                margin-top: 20px;

                .btn-linear {
                    display: inline;
                    text-decoration: none;
                    background: unset;
                    font-size: 14px;
                    line-height: 20px;

                    &.primary {
                        color: variables.$primary-color;
                    }

                    &.secondary {
                        color: variables.$text-color;
                    }
                }
            }

        }

    }

    &.expertise {
        .expertise__grid {
            display: grid;
            gap: 32px;
            padding-top: 32px;

            @media screen and (min-width: 768px) {
                grid-template-columns: 1fr 1fr;
            }

            @media screen and (min-width: 1024px) {
                grid-template-columns: 1fr 1fr 1fr;
            }
        }

        .skill {
            border-radius: 12px;
            border: 1px solid variables.$quaternary-color;
            background: variables.$tertiary-color;
            padding: 20px;


            .skill__icon {
                width: 48px;
                height: 48px;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 12px;
                background: variables.$tertiary-color;
                margin-bottom: 16px;
            }

            .skill__name {
                margin-bottom: 8px;
                color: variables.$white;
                font-weight: 700;
                font-size: 18px;
            }

            .skill__info {
                p {
                    font-size: 14px;
                    font-weight: 400;
                }
            }
        }
    }

    &.experience {
        margin-bottom: 0px;
        padding-bottom: 0;

        .timeline {
            position: relative;
            margin-top: 32px;
            display: grid;
            gap: 32px;
            padding: 0 10px;
            // border-left: 1px solid variables.$quaternary-color;

            &::before {
                content: '';
                position: absolute;
                top: 3px;
                left: 5px;
                width: 2px;
                height: 100%;
                background-color: variables.$quaternary-color;
            }

            @media screen and (min-width: 768px) {
                margin-left: 0;
            }


            .timeline__item {
                position: relative;
                padding-left: 40px;

                &::before {
                    content: '';
                    position: absolute;
                    top: 3px;
                    left: -13px;
                    width: 14px;
                    height: 14px;
                    border-radius: 50%;
                    background-color: variables.$tertiary-color;
                    border: 2px solid variables.$quaternary-color;
                }


                .timeline__date {
                    display: inline-block;
                    font-size: 14px;
                    color: variables.$text-color;
                    font-weight: 700;
                    margin-bottom: 8px;
                    // text-transform: uppercase;
                }

                .timeline__title {
                    margin-bottom: 8px;
                }

                .timeline__company {
                    display: inline-block;
                    font-size: 14px;
                    color: variables.$text-color;
                    margin-bottom: 14px;
                }

                .timeline__description {
                    font-size: 15px;
                    line-height: 24px;
                    color: variables.$text-color;
                    margin-bottom: 12px;

                    p {
                        margin: 0;
                    }
                }

                &.current {
                    &::before {
                        // background-color: variables.$primary-color;
                        border-color: variables.$primary-color;
                    }

                    .timeline__date {
                        color: variables.$primary-color;
                    }
                }
            }
        }
    }

    &.certifications {
        padding-bottom: 0;

        .title {
            margin-bottom: 24px;
        }

        .certificates__grid {
            display: grid;
            grid-template-columns: 1fr;
            row-gap: 32px;
            column-gap: 32px;

            // @media screen and (min-width: 768px) {
            //     grid-template-columns: repeat(2, 1fr);
            // }

            // @media screen and (min-width: 1024px) {
            //     grid-template-columns: repeat(3, 1fr);
            // }
        }

        .certificate {
            padding: 25px;
            position: relative;
            border: 1px solid variables.$quaternary-color;
            background-color: variables.$tertiary-color;
            border-radius: 12px;

            &__title {
                padding-right: 25%;
                line-height: 1.5;
                margin-bottom: 10px;
                font-size: 18px;
                font-weight: 700;
            }

            &__date {
                position: absolute;
                top: 25px;
                right: 25px;
                color: variables.$primary-color;
                border: 1px solid variables.$primary-color;
                border-radius: 13px;
                padding: 4px 10px;
                font-size: 12px;
                font-weight: 700;
            }

            &__company {
                display: block;
                margin-bottom: 10px;
                font-size: 14px;
                font-weight: 400;
            }

            &__description {
                font-size: 14px;
                font-weight: 400;
                margin-bottom: 13px;
            }

            .btn-linear {
                color: variables.$primary-color;
                font-size: 12px;
                letter-spacing: 0.6px;
                font-weight: 700;
                position: relative;

                &::after {
                    content: url('../IMG/svg/certificate.svg');
                    display: inline-block;
                    width: 12px;
                    height: 12px;
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);
                    right: -20px;

                }
            }
        }
    }

    &.contact {

        .title {
            padding-right: 25%;

            @media screen and (min-width: 768px) {
                font-size: 48px;
                margin-top: 0;
            }
        }

        .contact__buttons {
            margin: 32px 0;
            display: grid;
            grid-template-columns: 1fr;
            column-gap: 32px;

            // @media screen and (min-width: 768px) {
            //     grid-template-columns: repeat(2, 1fr);
            // }
        }

        .contact__btn {
            display: block;
            width: 100%;
            border: 1px solid variables.$quaternary-color;
            border-radius: 8px;
            background: variables.$tertiary-color;
            padding: 16px;
            text-decoration: none;
            display: flex;
            align-items: center;
            gap: 16px;
            border-radius: 12px;
            margin-bottom: 20px;

            span {
                display: block
            }

            img {
                display: inline-block;
                width: 48px;
                height: 48px;
                max-width: 48px;
                max-height: 48px;
                object-fit: contain;
            }

            .contact__label {
                font-size: 12px;
                font-weight: 700;
                color: variables.$text-color;
                letter-spacing: 0.6px;
                margin-bottom: 5px;
                // line-height: 16px;
            }

            .contact__value {
                font-size: 18px;
                color: variables.$white;
            }
        }

        form {
            padding: 24px 24px 40px;
            border-radius: 24px;
            border: 5px solid variables.$quaternary-color;

            @media screen and (min-width: 1025px) {
                padding: 40px;
            }

            p {
                margin-bottom: 20px;
            }

            .title {
                font-size: 20px;
                font-weight: 700;
                margin-bottom: 8px;
                margin-top: 0;
            }

            fieldset {
                display: block;
                position: relative;
                border: none;
                margin: 20px 0;

                @media screen and (min-width: 1025px) {
                    margin: 20px 0;
                }

                label {
                    color: rgba(variables.$text-color, 0.5);
                    font-size: 14px;
                    font-weight: 700;
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);
                    left: 16px;
                    text-transform: uppercase;
                    transition: all 0.3s ease-in-out;
                }

                input,
                textarea {
                    display: block;
                    width: 100%;
                    padding: 16px;
                    background-color: variables.$tertiary-color;
                    border: 1px solid variables.$quaternary-color;
                    border-radius: 12px;
                    appearance: none;
                    -webkit-appearance: none;
                    color: variables.$text-color;
                    -moz-appearance: none;

                    &::placeholder {
                        opacity: 0;
                    }


                    &.focus {
                        &+label {
                            top: -8px;
                            left: 5px;
                            font-size: 11px;
                        }
                    }
                }

                &:has(textarea) {

                    margin-bottom: 20px;

                    label {
                        top: 22px;
                    }

                    textarea {
                        min-height: 140px;
                    }
                }


            }

            button {
                color: variables.$white;
                display: block;
                border-radius: 12px;
                text-align: center;
                padding: 16px;
                font-size: 16px;
                font-family: variables.$primary-font;
                font-weight: 700;
                width: 100%;
            }
        }

    }

}


.group {



    @media screen and (min-width: 1025px) {
        padding: 0 20px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 64px;
    }
}